.pure-g-r.navigation
    .pure-u-1-3
        a(href='/top10')
            i.fa.fa-signal
            span Top 10 relays
    .pure-u-1-3
        a(href='/help')
            i.fa.fa-info-circle
            span Help
    .pure-u-1-3
        a(href='/code')
            i.fa.fa-code
            span Code