form(action='/search', method='GET', id='search-form')
    .center-wrapper
        .searchbar.sticky
            .pure-g
                .pure-u-5-6
                    .main-search-wrapper
                        input#main-search(name='query', type='text', placeholder='keyword', value=query)
                .pure-u-1-12.search-control
                    button.fa.fa-search.hover(tabindex=2,title='start searching')
                .pure-u-1-12.search-control.show-container
                    input#ctrl-advanced-search(type='checkbox')
                    label(for='ctrl-advanced-search')
                        i.fa.fa-gear(tabindex=3,title='advanced search')
                    .show-content
                        include advanced-search