form(action='/search', method='GET')
    .center-wrapper
        .searchbar.sticky
            .pure-g
                .pure-u-5-6
                    .main-search-wrapper
                        input#main-search(name='query', type='text', placeholder='keyword')
                .pure-u-1-12.search-control
                    button.fa.fa-search(tabindex=2,title='start searching')
                .pure-u-1-12.search-control
                    button.fa.fa-cog.toggle-advanced-search(title='advanced search')
    .advanced-search-back
        .center-wrapper
            .searchbar-advanced.pure-g-r.search-filters.search-filters-enabled
                .pure-u-1-6.label Filters:
                .pure-u-1-6
                    select(name='type')
                        option(value='') Type
                        each type in search.type
                            option
                                =type
                .pure-u-1-6
                    select(name='running')
                        option(value='') Running
                        each running in search.running
                            option(value=running)
                                =running
                .pure-u-1-6
                    select(name='country')
                        option(value='') Country
                        each country in countriesArray
                            option(value=country.key)
                                =country.value
                .pure-u-1-6
                    input(type=text, name='as', placeholder='AS')
                .pure-u-1-6
                    select(name='flag')
                        option(value='') Flag
                        each flag in flagsArray
                            option(value=flag.key)
                                =flag.key