@import "../colors";

.has-tip{
  position: relative;
  &:hover{
    .tip{
      display: block;
    }
  }
  .tip{
    top: 0;
    left: 0;
    z-index: 100;
    position: absolute;
    display: none;
    border: 1px solid $purple-darker;
    background: $white;
    line-height: 18px;
    max-width: 375px;
    p{
      font-size: 14px;
      margin: 0;
      padding: 5px;
    }

    .title{
      padding: 5px;
      text-transform: none;
      text-align: left;
      background-color: $purple-darker;
      font-size: 14px;
      color: $white;
    }
  }
}
