include mixins/alertBox

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .head-bar
      .main-head
        .center-wrapper
          .pure-g-r
            .pure-u-1-5
              .logo-wrapper
                a(href='/', class=logo, title='back home')
            .pure-u-4-5
              .navigation-wrapper navigation content
                include includes/navigation
      include includes/searchbar
    .content
      .outlet
        .pure-g
          .pure-u-1
            +alertBox('testErr', 'success')

        block content

      .pure-g.footer
        .pure-u-1
          .text-content
            p.no-width-limit Want to <a href="https://trac.torproject.org/projects/tor/newticket?component=Globe">report a bug</a>, contribute or view the source? Check out the repository <a href="https://github.com/makepanic/globe">on <i class="fa fa-github-alt"></i> github</a>.
                "Tor" and the "Onion Logo" are registered trademarks of The Tor Project, Inc.