extends layout

block content
    .pure-g
        .pure-u-1
            .text-content
                h3
                    if query
                        | Search results for "#{query}"
                    else
                        | Showing all results:
                    .tabbed-item.tabbed-active
                        .indicator.indicator-important
                            | 0
                            span Relays
                    .tabbed-item
                        .indicator
                            | 0
                            span Bridges