include tip

mixin flagList(flags, inLatestConsensus)
    .text-content
        .property
            if inLatestConsensus
                h5.has-tip Flags
                    +tip('Flags that the directory authorities assigned to this relay.', 'Flags')
            else
                h5.has-tip Flags (old)
                    +tip('Flags that the directory authorities assigned to this relay.', 'Flags')
            .pure-g-r.flags-list
                unless inLatestConsensus
                    .pure-u-1
                        p.c-red.no-width-limit
                            i.fa.fa-clock-o
                            These flags aren't up to date anymore
                if flags
                    for flag in flags
                        .pure-u-1-3
                            p
                                i(class='fa ' + icons[flag])
                                | #{flag}
                else
                    .pure-u-1
                        p none