@import "../colors";
@import "../vars";
@import "../mixins";

.datatable{
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  td{
    padding: 0;

    // td that doesn't contain an anchor that uses padding
    &.no-a{
      padding: 10px 0px;
    }

    a{
      padding: 10px 0px;
      display: block;
      text-decoration: none;
      color: inherit;
    }
  }

  thead{
    th{
      cursor: pointer;
    }
  }
  tbody{
    td{
      text-align: center;
    }
    tr{
      cursor: pointer;

      &:hover{
        td{
          background: $purple;
          color: $white;
        }
      }
    }
  }
  .fa{
    margin-right: 4px;
  }

  .empty{
    text-align: center;
    color: $red;
  }
}