@import "../colors";
@import "../mixins";

.graph-holder{
  overflow: hidden;
  overflow-x: scroll;
  display: block;
  max-width: 100%;

  img{
    max-width: none !important;
    width: auto !important;
  }
}

.graph-content{
  .graph-holder{
    height: 0px;
    @include transition(height, .2s);
  }

  label{
    display: block;
    cursor: pointer;
    padding: 10px 15px;
    border-bottom: 1px solid $grey-darker;
  }

  input[type=radio]{
    display: none;
  }

}
.relay-graphs{
  .graph-content{
    input[type=radio]:checked + .graph-holder{
      height: 350px;
    }
  }
}
.bridge-graphs{
  .graph-content{
    input[type=radio]:checked + .graph-holder{
      height: 380px;
    }
  }
}