@import "../mixins";
@import "../colors";

.searchbar{
  padding: 8px 0;
}
.main-search-wrapper{
  padding-left: 20px;
}
#main-search{
  width: 100%;
  padding: 5px;
  margin: 0;
  background: $white;
  color: $black;

  @include border-box();

  &::-webkit-input-placeholder { /* WebKit browsers */
    color: $purple-darker;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $purple-darker;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $purple-darker;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $purple-darker;
  }
}

.search-control{
  .fa{
    display: block;
    padding: 5px 0;
  }

  // we need i here because the fake button to show advanced search uses
  // an <i> element
  button, i{
    color: $purple-light;
    font-size: 1.3em;
    cursor: pointer;
    text-align: center;

    @include transition(color .2s);
    background: transparent;
    border: 0;
    width: 100%;

    &:hover{
      color: $white
    }
  }
}


.advanced-search{
  margin-top: 8px;
  position: absolute;
  left: 0;
  right: 0;
  background: $grey-lighter;
  border-bottom: 1px solid $grey-darker;

  hr{
    border: 0 solid $grey-darker;
    border-bottom-width: 1px;
  }
}

.search-filters{
  $label-width: 30%;
  $control-width: 65%;

  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  padding: 5px 0;

  strong{
    display: block;
  }

  .pure-u-1-3, strong{
    padding: 5px 0;
  }

  input, select, label{
    vertical-align: middle;
  }

  label{
    display: inline-block;
  }

  input, select{
    background: $white-darker;
    color: $black-lighter;
    display: inline-block;
    margin: 0 auto;
    padding: .3em .5em;
    box-shadow: none;
    @include border-box();

    background: $white;
    opacity: 1;
    border: 1px solid $grey-darkest;
  }

  input[type=checkbox] + label{
    padding: 5px 10px;
  }
  .pure-u-1-3{
    // label, control in u-1-3 need a set width
    label{
      width: $label-width;
    }
    input, select{
      width: $control-width;
    }
  }
}