extends ../layout
include ../mixins/relayCompassTable
include ../mixins/bridgeCompassTable

block content
    .pure-g
        .pure-u-1
            .text-content
                h3 Relays
                +relayCompassTable(result.displayed.relays, result.notDisplayed.relays)
                h3 Bridges
                +bridgeCompassTable(result.displayed.bridges, result.notDisplayed.bridges)
