extends layout
block content

    .pure-g
        .pure-u-1
            .text-content
                h2.styled Code - Building Globe
                .pure-g-r
                    .pure-u-1-2
                        p Globe is an open source application licensed under <a href="http://opensource.org/licenses/MIT">MIT License</a>. All of its code is available on <a href="https://github.com/makepanic/globe"><i class="fa fa-github-alt"></i> github</a>.
                        h3 Used Libraries
                        table.width-full.pure-table
                            thead
                                tr
                                    th Project
                                    th License
                            tbody
                                tr
                                    td
                                        a(href='http://emberjs.com/') Ember.js
                                    td
                                        a(href='http://opensource.org/licenses/MIT') MIT License
                                tr
                                    td
                                        a(href='http://emberjs.com/') Pure
                                    td
                                        a(href='https://github.com/yui/pure/blob/master/LICENSE.md') Yahoo! Inc. BSD license
                                tr
                                    td
                                        a(href='http://emberjs.com/') Font Awesome - Font
                                    td
                                        a(href='http://scripts.sil.org/OFL') SIL OFL 1.1
                                tr
                                    td
                                        a(href='http://emberjs.com/') Font Awesome - SASS files
                                    td
                                        a(href='http://opensource.org/licenses/MIT') MIT License
                                tr
                                    td
                                        a(href='http://emberjs.com/') Font Awesome - SASS files
                                    td
                                        a(href='http://opensource.org/licenses/MIT') MIT License
                                tr
                                    td
                                        a(href='http://emberjs.com/') moment
                                    td
                                        a(href='http://opensource.org/licenses/MIT') MIT License
                                tr
                                    td
                                        a(href='http://emberjs.com/') moment
                                    td
                                        a(href='http://opensource.org/licenses/MIT') MIT License
                    .pure-u-1-2
                        .text-content
                            h3 Building globe
                            p To provide a reproducible development environment we created a <a href="https://github.com/makepanic/globe/blob/master/Vagrantfile">Vagrantfile</a>, which uses <a href="http://www.vagrantup.com/">Vagrant</a> to bootstrap an ubuntu 12.04 virtual machine with everything necessary for developing and building globe.
                            p To start the virtual machine run <i>vagrant up</i> and wait for it to finish. Once it is ready access the virtual machine via <i>vagrant ssh</i>. The globe source code is located in the <i>/vagrant/</i> directory.
                            p Building globe requires <a href="http://nodejs.org/">nodejs</a> (tested using nodejs v0.10.x).
                            p Globe uses <a href="http://gruntjs.com/">grunt</a> tasks to minify, compress and modify the source code. Tests are executed with <a href="http://karma-runner.github.io/">Karma</a>.
                            p The following grunt tasks are available for building globe:
                            h4
                                code grunt dev
                            ul
                                li uses non minified JavaScript and CSS files
                                li watches code for changes and reruns the task again
                                li concats app files
                            h4
                                code grunt standalone
                            ul
                                li uses minified JavaScript and CSS files
                                li concats app files and minifies everything
                            h4
                                code grunt standalone-archive
                            ul
                                li same as <strong>grunt standalone</strong>
                                li creates an archive with all the required ressources after preparing everything
                            h4
                                code grunt ci
                            ul
                                li same as <strong>grunt standalone</strong>
                                li runs karma tests after preparing everything
                            h4
                                code grunt
                            ul
                                li same as <strong>grunt dev</strong>, but doesn't watch for changes