extends layout
block content
    .pure-g.help
        .pure-u-1
            .text-content
                if title
                    h2.styled #{title}
                if msg
                    p #{msg}
                if error
                    h2.styled Error
                    p You found an error :( . Please report the following message:
                    pre
                        = error.message
                    hr
                    pre
                        = error.stack
