mixin bandwidthStats(dateWindow, selectedPeriod)
    .pure-g-r
        .pure-u-1-3
            h3 Bandwidth
            p mean written bytes
            strong
                span.d3-col.block-0
                h2 TODO: avgReadHistory
            p mean read bytes
            strong
                span.d3-col.block-0
                h2 TODO: avgWriteHistory
        .pure-u-2-3
            h2 TODO: graph