mixin uptimeStats(graphUrl, period, avg)
    .pure-g-r.graph-stats
        .pure-u-1-3
            h3 Uptime
            p mean uptime
            strong
                span.d3-col.block-0
                = format.percent(avg.uptime)
        .pure-u-2-3
            .graph-holder
                img(src=graphUrl + '?period=' + period,alt='Relay bandwidth graph')